////////////////////////////////////////////////////////////////////////
// card Grids

// Customization and SCSS'ification of Pure Grids, formerly known as YUI Grids.

.card-grid {

  @include card-grid-row();

  &--no-gutter {
    margin-left: 0;
  }

  &__demo {

    background-color: $color-card-tertiary-100;
    padding: $size-base;

    code {

      background-color: $color-card-tertiary-100;
      border: 0;
      padding: 0;

    }

  }

}

@include card-grid();

@include breakpoint(S) {
  @include card-grid(\@s);
}
@include breakpoint(M) {
  @include card-grid(\@m);
}
@include breakpoint(L) {
  @include card-grid(\@l);
}
