.toggle {

  margin-top: -50px;
  position: absolute;
  background:orange;
  z-index: 9999;

  &-control {
    color: #4e4084;
  }

  &-label {
		margin: 0;
    color: #4e4084;
  }
}

.react-toggle--unchecked .react-toggle-track {
    background-color: #4e4084;
}

.react-toggle--checked .react-toggle-track {
  background-color: #8072b6;
}
