.instructions {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica";
    font-size: 1em;
    color: #3c3f4c;//#69b19f;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
}

.instructions-spacing {
    margin-top: -40px;
}